.blog-form {
    
    .mat-form-field-wrapper--min-500 {
        min-height: 480px;
    }

    .app-btn--blog-save {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        float: right;
    }
}