.dashboard {
    padding-top: 20px;
    position: relative;
}
input[type="text"] {
    padding: 7px 9px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.dashboard-content {
    padding-bottom: 40px;
    .sidebar {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        background-color: #f5f5f5;
        width: 300px;
        padding: 40px 20px;
        ul {
            padding-left: 0;
            margin: 0;
            li {
                list-style: none;
                padding-bottom: 28px;
                &:last-child {
                    padding-bottom: 0;
                }
                input {
                    font-size: 16px;
                    outline: none;
                }
            }
        }
    }
    .main-container {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding: 0 20px;
        width: 100%;
    }
}
.blog-list {
    .blog-list__item {
        border-top: 2px #ccc solid;
        min-height: 140px;

        &:last-child {
            border-bottom: 2px #ccc solid;
        }
        
        .image-container {
            width: 20%;
            padding: 5px;
            position: relative;
            
            img {
                max-height: 90%;
                max-width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
 
            }
        }
        .text-container {
            width: 64%;
            padding: 5px 15px 5px;
            p {
                display: block;
                min-width: 300px;
            }
        }
        .controls-container {
            width: 15%;
            padding: 5px;
            position: relative;
            min-width: 91px;
            ul {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                padding-left: 0;
                padding-right: 10px;
                margin: 0;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 728px) {
    .dashboard-content {
        display: block !important;
        .sidebar {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 528px) {
    .dashboard-content {
        .main-container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .blog-list {
        .blog-list__item {
            display: block !important;
            padding: 30px 0;
            .image-container { 
                text-align: center;
                width: 100%;
                img {
                    position: relative;
                    transform: none;
                    top: auto;
                    left: auto;
                    max-width: 70%;
                }
            }
            .text-container {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
            .controls-container {
                width: 100%;
                ul {
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: none;
                }
            }
        }
    }
}